@model IEnumerable<Oficina.Com.Models.ColaboradorViewModel>
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Consultar Colaborador</h2>

<div class="alert-messages text-center">
</div>
<br />
<a href="" onclick="PreencheFornecedor()" data-toggle="modal" data-target="#modalcreate">
    <span class="mdi mdi-account btn btn-success"> Novo Colaborador</span>
</a>
<hr />
<div class="col-md-12">

    <table class="table table-striped table-bordered" cellspacing="0" id="tbconsulta" style="width:100%">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Cargo</th>,
                <th>Email</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Cargo</td>
                    <td>@item.Email</td>
                    <td>
                        <a href="#" class="mdi mdi-pencil btn btn-success" onclick="PreencheEdit(@item.Id)" style="width:auto" data-toggle="modal" data-target="#modaledit">Editar</a>
                        <a href="#" class="mdi mdi-note  btn btn-success" onclick="PreencheDetalhe(@item.Id)" data-toggle="modal" data-target="#modaldetalhes">Detalhes</a>
                        <a href="#" class="mdi mdi-delete btn btn-danger" onclick="PreencheIdExclusao(@item.Id)" data-toggle="modal" data-target="#modaldelete"></a>
                    </td>
                </tr>

            }

        </tbody>
        <tfoot>
            @*<tr>
                    <td colspan="5">Quantidade de clientes: @Model.Count() </td>
                </tr>*@
        </tfoot>
    </table>
</div>
<!--Modal Create-->
<div class="modal fade" id="modalcreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Cadastro de Colaborador</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal col-md-12">
                    <div class="row" style="align-self:center">
                        <div class="form-group col-md-6">
                            <label>Nome:</label>
                            <input type="text" id="txtnome" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label>Cpf:</label>
                            <input type="text" id="txtcpf" class="form-control" />
                        </div>


                        <div class="form-group col-md-3">
                            <input type="text" id="txtestadocivil" class="form-control" />
                            <label>Estado Civíl::</label>
                            <select name="txtuf" class="form-control">
                                <option value="0">Selecione</option>
                                <option value="1">Solteiro</option>
                                <option value="2">Casado</option>
                                <option value="3">Divorciado</option>
                                <option value="4">Viuvo</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Email::</label>
                            <input type="text" id="txtemail" class="form-control" />
                        </div>

                        <div class="form-group col-md-3">
                            <label>Telefone:</label>
                            <input type="text" id="txttelefone" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Data Nasicmento:</label>
                            <input type="date" id="txtdatanascimento" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <input type="text" id="txtcargo" class="form-control" />
                            <label>Cargo:</label>
                            <select name="txtuf" class="form-control">
                                <option value="0">Selecione</option>
                                <option value="1">Assistênte</option>
                                <option value="2">Mecânico</option>
                                <option value="3">Gerente</option>
                                <option value="4">ADM</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Salário:</label>
                            <input type="number" id="txtsalario" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label>Rua:</label>
                            <input type="text" id="txtrua" class="form-control" />
                        </div>

                        <div class="form-group col-md-2">
                            <label>Nº:</label>
                            <input type="text" id="txtnumero" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Bairro:</label>
                            <input type="text" id="txtbairro" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label>Complemento:</label>
                            <input type="text" id="txtcomplemento" class="form-control" />
                        </div>

                        <div class="form-group col-md-3">
                            <label>UF:</label>
                            <input type="text" id="txtuf" class="form-control" />
                        </div>

                        <div class="form-group col-md-3">
                            <label>Cep:</label>
                            <input type="text" id="txtcep" class="form-control" />
                        </div>
                        <br />
                        <div class="form-group col-md-12">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success mdi mdi-floppy" style="margin-right:25%; width:50%" onclick="Cadastrar()" id="btncadastro">
                    Cadastrar Colaborador
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Cadastro de Colaborador</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal col-md-12">
                    <div class="row" style="align-self:center">

                        <input type="hidden" id="txtidedicao" class="form-control" />

                        <div class="form-group col-md-6">
                            <label>Nome:</label>
                            <input type="text" id="txteditnome" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label>Cpf:</label>
                            <input type="text" id="txteditcpf" class="form-control" />
                        </div>


                        <div class="form-group col-md-3">
                            <label>Estado Civíl:</label>
                            <input type="text" id="txteditestadocivil" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label>Email:</label>
                            <input type="text" id="txteditemail" class="form-control" />
                        </div>

                        <div class="form-group col-md-3">
                            <label>Telefone:</label>
                            <input type="text" id="txtedittelefone" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Data Nasicmento:</label>
                            <input type="date" id="txteditdatanascimento" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Cargo:</label>
                            <input type="text" id="txteditcargo" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Salário:</label>
                            <input type="number" id="txteditsalario" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label>Rua:</label>
                            <input type="text" id="txteditrua" class="form-control" />
                        </div>

                        <div class="form-group col-md-2">
                            <label>Nº:</label>
                            <input type="text" id="txteditnumero" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Bairro:</label>
                            <input type="text" id="txteditbairro" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label>Complemento:</label>
                            <input type="text" id="txteditcomplemento" class="form-control" />
                        </div>

                        <div class="form-group col-md-3">
                            <label>UF:</label>
                            <input type="text" id="txtedituf" class="form-control" />
                        </div>

                        <div class="form-group col-md-3">
                            <label>Cep:</label>
                            <input type="text" id="txteditcep" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success mdi mdi-floppy" style="margin-right:25%; width:50%" onclick="Edit()" id="btncadastro">
                    Editar Colaborador
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modaldetalhes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Cadastro de Colaborador</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal col-md-12">
                    <div class="row" style="align-self:center">
                        <div class="form-group col-md-6">
                            <label>Nome:</label>
                            <input type="text" id="txtdtnome" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-6">
                            <label>Cpf:</label>
                            <input type="text" id="txtdtcpf" class="form-control" readonly />
                        </div>


                        <div class="form-group col-md-3">
                            <label>Estado Civíl:</label>
                            <input type="text" id="txtdtestadocivil" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-6">
                            <label>Email:</label>
                            <input type="text" id="txtdtemail" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-3">
                            <label>Telefone:</label>
                            <input type="text" id="txtdttelefone" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Data Nasicmento:</label>
                            <input type="date" id="txtdtdatanascimento" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Cargo:</label>
                            <input type="text" id="txtdtcargo" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Salário:</label>
                            <input type="number" id="txtdtsalario" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-6">
                            <label>Rua:</label>
                            <input type="text" id="txtdtrua" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-2">
                            <label>Nº:</label>
                            <input type="text" id="txtdtnumero" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Bairro:</label>
                            <input type="text" id="txtdtbairro" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-6">
                            <label>Complemento:</label>
                            <input type="text" id="txtdtcomplemento" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-3">
                            <label>UF:</label>
                            <input type="text" id="txtdtuf" class="form-control" readonly />
                        </div>

                        <div class="form-group col-md-3">
                            <label>Cep:</label>
                            <input type="text" id="txtdtcep" class="form-control" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modaldelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="delete">Deseja realmente excluir este cliente?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control hidde" id="txtid" />
                <p style="color:orangered;text-align:center"> Aviso: Com esta ação os dados do colaborador em questão serão excluidos permanentemente!</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger mdi mdi-delete" style="margin-right:25%; width:50%" onclick="Excluir()">Excluir Colaborador</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $("#tbconsulta").DataTable({
                responsive: true,
                "paging": false,
                "language": {
                    "lengthMenu": "",
                    "search": "Procurar",
                    "info": "Mostrando página _PAGE_  de _PAGE_ ",
                    "zeroRecords": "Nenhum registro encontrado !",
                    "infoFiltered": "",
                    "info": "",
                    "infoEmpty": "",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Ultimo",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }
            });

        })
        function Cadastrar() {

            var Endereco = {
                Id: null,
                Rua: $("#txtrua").val(),
                Numero: $("#txtnumero").val(),
                Bairro: $("#txtbairro").val(),
                Complemento: $("#txtcomplemento").val(),
                Uf: $("#txtuf").val(),
                Cep: $("#txtcep").val()
            }
            var model = {
                Id: null,
                Nome: $("#txtnome").val(),
                Cpf: $("#txtcpf").val(),
                EstadoCivil: $("#txtestadocivil").val(),
                Email: $("#txtemail").val(),
                Telefone: $("#txttelefone").val(),
                DataNascimento: $("#txtdatanascimento").val(),
                Cargo: $("#txtcargo").val(),
                Salario: $("#txtsalario").val(),
                Endereco: {
                    Id: Endereco.Id,
                    Rua: Endereco.Rua,
                    Numero: Endereco.Numero,
                    Bairro: Endereco.Bairro,
                    Complemento: Endereco.Complemento,
                    Uf: Endereco.Uf,
                    Cep: Endereco.Cep
                } // Verificarrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr

            }

            $.ajax({
                type: "POST",
                url: "/Colaborador/Cadastro",
                data: model,
                success: function () {
                    window.location.reload()
                },
                error: function (e) {

                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        }
        function PreencheEdit(id) {

            $.ajax({
                type: "POST",
                url: "/Colaborador/Editar",
                data: "id=" + id,
                success: function (data) {

                    $("#txtidedicao").val(id);
                    $("#txteditnome").val(data.Nome);
                    $("#txteditcpf").val(data.Cpf);
                    $("#txteditestadocivil").val(data.EstadoCivil);
                    $("#txteditemail").val(data.Email);
                    $("#txtedittelefone").val(data.Telefone);
                    $("#txteditdatanascimento").val(data.DataNascimento);
                    $("#txteditcargo").val(data.Cargo);
                    $("#txteditsalario").val(data.Salario);
                    $("#txteditrua").val(data.Endereco.Rua);
                    $("#txteditnumero").val(data.Endereco.Numero);
                    $("#txteditbairro").val(data.Endereco.Bairro);
                    $("#txteditcomplemento").val(data.Endereco.Complemento);
                    $("#txtedituf").val(data.Endereco.UF);
                    $("#txteditcep").val(data.Endereco.Cep);
                },
                error: function (e) {

                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        }
        function Edit() {

            var modelEdit = {

                Id: $("#txtidedicao").val(),
                Nome: $("#txteditnome").val(),
                Cpf: $("#txteditcpf").val(),
                EstadoCivil: $("#txteditestadocivil").val(),
                Email: $("#txteditemail").val(),
                Telefone: $("#txtedittelefone").val(),
                DataNascimento: $("#txteditdatanascimento").val(),
                Cargo: $("#txteditcargo").val(),
                Salario: $("#txteditsalario").val(),
                Endereco: {
                    Id: null,
                    Rua: $("#txteditrua").val(),
                    Numero: $("#txteditnumero").val(),
                    Bairro: $("#txteditbairro").val(),
                    Complemento: $("#txteditcomplemento").val(),
                    UF: $("#txtedituf").val(),
                    Cep: $("#txteditcep").val()
                }
            };

            $.ajax({
                type: "POST",
                url: "/Colaborador/Edit",
                data: modelEdit,
                success: function () {
                    window.location.reload()
                }, error: function () {

                }
            });
        }
        function PreencheDetalhe(id) {
            $.ajax({
                type: "POST",
                url: "/Colaborador/Editar",
                data: "id=" + id,
                success: function (data) {

                    $("#txtdtnome").val(data.Nome);
                    $("#txtdtcpf").val(data.Cpf);
                    $("#txtdtestadocivil").val(data.EstadoCivil);
                    $("#txtdtemail").val(data.Email);
                    $("#txtdttelefone").val(data.Telefone);
                    $("#txtdtdatanascimento").val(data.DataNascimento);
                    $("#txtdtcargo").val(data.Cargo);
                    $("#txtdtsalario").val(data.Salario);
                    $("#txtdtrua").val(data.Endereco.Rua);
                    $("#txtdtnumero").val(data.Endereco.Numero);
                    $("#txtdtbairro").val(data.Endereco.Bairro);
                    $("#txtdtcomplemento").val(data.Endereco.Complemento);
                    $("#txtdtuf").val(data.Endereco.UF);
                    $("#txtdtcep").val(data.Endereco.Cep);
                },
                error: function (e) {

                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        }
        function PreencheIdExclusao(id) {
            $("#txtid").val(id);
        }
        function Excluir() {
            var id = $("#txtid").val();

            $.ajax({
                type: "POST",
                url: "/Colaborador/Excluir",
                data: "id=" + id,
                success: function () {
                    window.location.reload()
                },
                error: function (e) {

                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        }


    </script>
}
