@model IEnumerable<Oficina.Com.Models.OrdemServicoViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ordens de Serviço</h2>
<hr />
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Status</th>
                <th scope="col">Data Abertura</th>
                <th scope="col">Placa</th>
                <th scope="col">Responsável</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td style="color:green">@item.Status</td>
                <td style="color:chocolate" >@item.DataAbertura</td>
                <td>@item.Placa</td>
                <td>@item.NomeColaborador</td>
            </tr>
            }
            </tbody>
    </table>
</div>


