@model IEnumerable<Oficina.Com.Models.VeiculoViewModel>
@{
    ViewBag.Title = "ConsultarVeiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consulta de Veiculos</h2>

<div class="alert-messages text-center">
</div>
<br />
<a href="" onclick="modalcreate" data-toggle="modal" data-target="#modalExemplo">
    <span class="mdi mdi-account btn btn-success"> Novo Veiculo</span>
</a>
<hr />
<div class="col-md-12">
    <table class="table table-striped table-bordered" cellspacing="0" id="tbconsulta" style="width:100%">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Ano</th>
                <th>Tipo</th>
                <th>Modelo</th>
                <th>Cor</th>
                <th>Motor</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <td>@v.Placa</td>
                    <td>@v.Ano</td>
                    <td>@v.Tipo</td>
                    <td>@v.Modelo</td>
                    <td>@v.Cor</td>
                    <td>@v.Motor</td>
                    <td>
                        <a href="#" class="mdi mdi-pencil btn btn-success" style="width:auto" data-toggle="modal" data-target="#modaledit">Editar</a>
                        <a href="#" class="mdi mdi-note  btn btn-success" data-toggle="modal" data-target="#modaldetalhes">Detalhes</a>
                        <a href="#" class="mdi mdi-delete btn btn-danger" onclick="" data-toggle="modal" data-target="#modaldelete"></a>
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            @*<tr>
                    <td colspan="5">Quantidade de clientes: @Model.Count() </td>
                </tr>*@
        </tfoot>
    </table>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tbconsulta").DataTable({
                responsive: true,
                "paging": false,
                "language": {
                    "lengthMenu": "",
                    "search": "Procurar",
                    "info": "Mostrando página _PAGE_  de _PAGE_ ",
                    "zeroRecords": "Nenhum registro encontrado !",
                    "infoFiltered": "",
                    "info": "",
                    "infoEmpty": "",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Ultimo",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>
    }