@model IEnumerable<Oficina.Com.Models.VeiculoViewModel>
@{
    ViewBag.Title = "ConsultarVeiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consulta de Veiculos</h2>
<div class="alert-messages text-center">
</div>
<br />
<a href="" onclick="CarregaCampos()" data-toggle="modal" data-target="#modalcreateveiculo">
    <span class="mdi mdi-account btn btn-success"> Novo Veiculo</span>
</a>
<hr />
<div class="col-md-12">
    <table class="table table-striped table-bordered" cellspacing="0" id="tbconsulta" style="width:100%">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Ano</th>
                <th>Tipo</th>
                <th>Modelo</th>
                <th>Cor</th>
                <th>Motor</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <td>@v.Placa</td>
                    <td>@v.Ano</td>
                    <td>@v.Tipo</td>
                    <td>@v.Modelo</td>
                    <td>@v.Cor</td>
                    <td>@v.Motor</td>
                    <td>
                        <a href="#" class="mdi mdi-pencil btn btn-success" onclick="PreencheEdit(@v.Id)" style="width:auto" data-toggle="modal" data-target="#modaleditveiculo">Editar</a>
                        <a href="#" class="mdi mdi-note  btn btn-success" onclick="PreencheModalDetalhes(@v.Id)" data-toggle="modal" data-target="#modaldetalhes">Detalhes</a>
                        <a href="#" class="mdi mdi-delete btn btn-danger" onclick="CarregaIdDelete(@v.Id)" data-toggle="modal" data-target="#modaldelete"></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            @*<tr>
                    <td colspan="5">Quantidade de clientes: @Model.Count() </td>
                </tr>*@
        </tfoot>
    </table>
</div>

<!--Modal Create -->
<div class="modal fade" id="modalcreateveiculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Cadastro de Veículos</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal col-md-12">
                    <div class="row" style="align-self:center">
                        <div class="form-group col-md-4">
                            <label>Placa:</label>
                            <input type="text" id="txtplaca" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Proprietário:</label>
                            <select id="clienteselect" class="form-control">
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Ano:</label>
                            <input type="text" id="txtano" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Categoria:</label>
                            <select class="form-control" id="txttipo">
                                <option value="0">Carro</option>
                                <option value="1">Moto</option>
                                <option value="2">Caminhão</option>
                                <option value="3">Outros</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Modelo:</label>
                            <input type="text" id="txtmodelo" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Cor:</label>
                            <input type="text" id="txtcor" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Motor:</label>
                            <input type="text" id="txtmotor" class="form-control" />
                        </div>

                        <div class="form-group col-md-8">
                            <label>Obs:</label>
                            <input type="text" id="txtcomplemento" class="form-control" />
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button class="btn btn-success mdi mdi-floppy" style="margin-right:25%; width:50%" onclick="Cadastro()" id="btncadastro">
                    Cadastrar Veículo
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal Edição-->
<div class="modal fade" id="modaleditveiculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Atualização de Veículo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal col-md-12">
                    <div class="row" style="align-self:center">
                        <div class="form-group col-md-12 hidden">
                            <input type="hidden" id="txteditid" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Placa:</label>
                            <input type="text" id="txtedicaoplaca" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>CPF Proprietário:</label>
                            <input type="text" id="txtedicaocpf" readonly class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Ano:</label>
                            <input type="text" id="txtedicaoano" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Categoria:</label>
                            <select class="form-control" id="txtedicaotipo">
                                <option value="0">Carro</option>
                                <option value="1">Moto</option>
                                <option value="2">Caminhão</option>
                                <option value="3">Outros</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Modelo:</label>
                            <input type="text" id="txtedicaomodelo" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Cor:</label>
                            <input type="text" id="txtedicaocor" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Motor:</label>
                            <input type="text" id="txtedicaomotor" class="form-control" />
                        </div>

                        <div class="form-group col-md-8">
                            <label>Obs:</label>
                            <input type="text" id="txtedicaocomplemento" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success mdi mdi-update" style="margin-right:25%; width:50%" onclick="Editar()" id="btncadastro">
                    Atualizar Veículo
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal Detalhes-->
<div class="modal fade" id="modaldetalhes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="detalhes">Detalhes</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Proprietário:</label>
                        <input type="text" id="txtdetalhenome" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-3">
                        <label>CPF:</label>
                        <input type="text" id="txtdetalhecpf" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-3" style="width:18px">
                        <label>Placa:</label>
                        <input type="text" id="txtdetalheplaca" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-3" readonly>
                        <label>Categoria:</label>
                        <input type="text" id="txtdetalhetipo" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-3">
                        <label>Modelo:</label>
                        <input type="text" id="txtdetalhemodelo" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-3">
                        <label>Cor:</label>
                        <input type="text" id="txtdetalhecor" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-3">
                        <label>Motor:</label>
                        <input type="text" id="txtdetalhemotor" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-3" style="width:18px">
                        <label>Ano:</label>
                        <input type="text" id="txtdetalheano" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-9">
                        <label>Obs:</label>
                        <input type="text" id="txtdetalheobs" class="form-control" readonly />
                    </div>


                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!--Modal Exclusão-->
<div class="modal fade" id="modaldelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="delete">Deseja realmente excluir este Veículo?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control hidde" id="txtid" />
                <p style="color:orangered;text-align:center"> Aviso: Com esta ação os dados do Veículo em questão serão excluidos permanentemente!</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger mdi mdi-delete" style="margin-right:25%; width:50%" onclick="Delete()">Excluir Veículo</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tbconsulta").DataTable({
                responsive: true,
                "paging": false,
                "language": {
                    "lengthMenu": "",
                    "search": "Procurar",
                    "info": "Mostrando página _PAGE_  de _PAGE_ ",
                    "zeroRecords": "Nenhum registro encontrado !",
                    "infoFiltered": "",
                    "info": "",
                    "infoEmpty": "",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Ultimo",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }
            });
        });
        function Cadastro() {

            var model = {
                Id: null,
                CpfCliente: $("#clienteselect").val(),
                Placa: $("#txtplaca").val(),
                Ano: $("#txtano").val(),
                Tipo: $("#txttipo").val(),
                Modelo: $("#txtmodelo").val(),
                Cor: $("#txtcor").val(),
                Motor: $("#txtmotor").val(),
                Obs: $("#txtcomplemento").val(),
                ClienteId: $("#txtcpf").val()
            }
            $.ajax({
                type: "POST",
                url: "/Veiculo/Cadastrar",
                data: model,
                success: function () {
                    window.location.reload()
                },
                error: function (e) {

                }
            });
            alert('Entrei');
        }
        function PreencheEdit(id) {
            $.ajax({
                type: "POST",
                url: "/Veiculo/Edit",
                data: "id=" + id,
                success: function (obj) {
                    $("#txteditid").val(obj.Id);
                    $("#txtedicaoplaca").val(obj.Placa);
                    $("#txtedicaoano").val(obj.Ano);
                    $("#txtedicaotipo").val(obj.Tipo);
                    $("#txtedicaomodelo").val(obj.Modelo);
                    $("#txtedicaocor").val(obj.Cor);
                    $("#txtedicaomotor").val(obj.Motor);
                    $("#txtedicaocomplemento").val(obj.Obs);
                    $("#txtedicaocpf").val(obj.CpfCliente);
                },
                error: function (e) {

                }
            });
        }
        function PreencheModalDetalhes(id) {
            $.ajax({
                type: "POST",
                url: "/Veiculo/Detalhes",
                data: "id=" + id,
                success: function (obj) {

                    var tipo = VerificaTipo(obj.Tipo);
                    $("#txtdetalhenome").val(obj.Nome);
                    $("#txtdetalhecpf").val(obj.CpfCliente);
                    $("#txtdetalheplaca").val(obj.Placa);
                    $("#txtdetalhetipo").val(tipo);
                    $("#txtdetalhemodelo").val(obj.Modelo);
                    $("#txtdetalhecor").val(obj.Cor);
                    $("#txtdetalhemotor").val(obj.Motor);
                    $("#txtdetalheano").val(obj.Ano);
                    $("#txtdetalheobs").val(obj.Obs);
                },
                error: function (e) {
                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        };
        function Editar() {

            var model = {

                Id: $("#txteditid").val(),
                Placa: $("#txtedicaoplaca").val(),
                Ano: $("#txtedicaoano").val(),
                Tipo: $("#txtedicaotipo").val(),
                Modelo: $("#txtedicaomodelo").val(),
                Cor: $("#txtedicaocor").val(),
                Motor: $("#txtedicaomotor").val(),
                Obs: $("#txtedicaocomplemento").val(),
                ClienteId: $("#txtedicaocpf").val(),
                CpfCliente: null
            }

            $.ajax({
                type: "POST",
                url: "/Veiculo/Editar",
                data: model,
                success: function () {
                },
                error: function (e) {

                }
            });
        }
        function CarregaIdDelete(id) {
            $("#txtid").val(id)
        };
        function Delete() {
            var id = $("#txtid").val();
            $.ajax({
                type: "POST",
                url: "/Veiculo/Delete",
                data: "id=" + id,
                success: function (obj) {
                    window.location.reload()
                },
                error: function (e) {
                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        };
        function VerificaTipo(tipo) {
            if (tipo = '0') {
                return 'Carro';
            } else if (tipo = '1') {
                return 'Moto';
            } else if (tipo = '2') {
                return 'Caminhão';
            } else if (tipo = '3') {
                return 'Outros';
            }
        }
        function CarregaCampos() {
            RetornaCliente();
        }
        function RetornaCliente() {
            $.ajax({
                type: "POST",
                url: "/Cliente/RetornaListaCliente",
                data: null,
                success: function (data) {
                    $("#clienteselect option").remove();
                    data.forEach(function (item) {
                        $("#clienteselect").append('<option value="' + item[1] + '">' + item[0] + '</option>');
                    });
                },
                error: function (e) {

                }
            });
        }
        function RetornaPlaca() {
            $.ajax({
                type: "POST",
                url: "/Veiculo/RetornaListaVeiculo",
                data: null,
                success: function (data) {
                    $("#placaselect option").remove();
                    data.forEach(function (item) {
                        $("#placaselect").append('<option value="' + item[1] + '">' + item[1] + '</option>');
                    });
                },
                error: function (e) {

                }
            });
        }
    </script>
}