@model IEnumerable<Oficina.Com.Models.VeiculoViewModel>
@{
    ViewBag.Title = "ConsultarVeiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consulta de Veiculos</h2>
<div class="alert-messages text-center">
</div>
<br />
<a href="" onclick="modalcreateveiculo" data-toggle="modal" data-target="#modalcreateveiculo">
    <span class="mdi mdi-account btn btn-success"> Novo Veiculo</span>
</a>
<hr />
<div class="col-md-12">
    <table class="table table-striped table-bordered" cellspacing="0" id="tbconsulta" style="width:100%">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Ano</th>
                <th>Tipo</th>
                <th>Modelo</th>
                <th>Cor</th>
                <th>Motor</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <td>@v.Placa</td>
                    <td>@v.Ano</td>
                    <td>@v.Tipo</td>
                    <td>@v.Modelo</td>
                    <td>@v.Cor</td>
                    <td>@v.Motor</td>
                    <td>
                        <a href="#" class="mdi mdi-pencil btn btn-success" onclick="PreencheEdit(@v.Id)" style="width:auto" data-toggle="modal" data-target="#modaleditveiculo">Editar</a>
                        <a href="#" class="mdi mdi-note  btn btn-success" data-toggle="modal" data-target="#modaldetalhes">Detalhes</a>
                        <a href="#" class="mdi mdi-delete btn btn-danger" onclick="" data-toggle="modal" data-target="#modaldelete"></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            @*<tr>
                    <td colspan="5">Quantidade de clientes: @Model.Count() </td>
                </tr>*@
        </tfoot>
    </table>
</div>

<!--Modal Create -->
<div class="modal fade" id="modalcreateveiculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Cadastro de Veículos</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal col-md-12">
                    <div class="row" style="align-self:center">
                        <div class="form-group col-md-4">
                            <label>Placa:</label>
                            <input type="text" id="txtplaca" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>CPF proprietário:</label>
                            <input type="text" id="txtcpf" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Ano:</label>
                            <input type="text" id="txtano" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Categoria:</label>
                            <input type="text" id="txttipo" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Modelo:</label>
                            <input type="text" id="txtmodelo" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Cor:</label>
                            <input type="text" id="txtcor" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Motor:</label>
                            <input type="text" id="txtmotor" class="form-control" />
                        </div>

                        <div class="form-group col-md-8">
                            <label>Obs:</label>
                            <input type="text" id="txtcomplemento" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class=" btn btn-success" onclick="Cadastro()" value="Cadastrar" />
            </div>
        </div>
    </div>
</div>

<!--Modal Edição-->
<div class="modal fade" id="modaleditveiculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Cadastro de Veículos</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal col-md-12">
                    <div class="row" style="align-self:center">

                        <div class="form-group col-md-4">
                            <input type="hidden" id="txtedicaoid" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Placa:</label>
                            <input type="text" id="txtedicaoplaca" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>CPF Proprietário:</label>
                            <input type="text" id="txtedicaocpf" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Ano:</label>
                            <input type="text" id="txtedicaoano" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Categoria:</label>
                            <input type="text" id="txtedicaotipo" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Modelo:</label>
                            <input type="text" id="txtedicaomodelo" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Cor:</label>
                            <input type="text" id="txtedicaocor" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Motor:</label>
                            <input type="text" id="txtedicaomotor" class="form-control" />
                        </div>

                        <div class="form-group col-md-8">
                            <label>Obs:</label>
                            <input type="text" id="txtedicaocomplemento" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class=" btn btn-success" onclick="Editar()" value="Cadastrar" />
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tbconsulta").DataTable({
                responsive: true,
                "paging": false,
                "language": {
                    "lengthMenu": "",
                    "search": "Procurar",
                    "info": "Mostrando página _PAGE_  de _PAGE_ ",
                    "zeroRecords": "Nenhum registro encontrado !",
                    "infoFiltered": "",
                    "info": "",
                    "infoEmpty": "",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Ultimo",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }
            });
        });

        function Cadastro() {

            var model = {
                Id: null,
                Placa: $("#txtplaca").val(),
                Ano: $("#txtano").val(),
                Tipo: $("#txttipo").val(),
                Modelo: $("#txtmodelo").val(),
                Cor: $("#txtcor").val(),
                Motor: $("#txtmotor").val(),
                Obs: $("#txtcomplemento").val(),
                ClienteId: $("#txtcpf").val()
            }
            $.ajax({
                type: "POST",
                url: "/Veiculo/Cadastrar",
                data: model,
                success: function () {
                    window.location.reload()
                },
                error: function (e) {

                }
            });
            alert('Entrei');
        }

        function PreencheEdit(id) {
            $.ajax({
                type: "POST",
                url: "/Veiculo/Editar",
                data: "id=" + id,
                success: function (obj) {
                    $("#txtedicaoid").val(obj.Id);
                    $("#txtedicaoplaca").val(obj.Placa);
                    $("#txtedicaoano").val(obj.Ano);
                    $("#txtedicaotipo").val(obj.Tipo);
                    $("#txtedicaomodelo").val(obj.Modelo);
                    $("#txtedicaocor").val(obj.Cor);
                    $("#txtedicaomotor").val(obj.Motor);
                    $("#txtedicaocomplemento").val(obj.Obs);
                    $("#txtedicaocpf").val(obj.Cpf);
                },
                error: function (e) {

                }
            });
        }

        function Editar() {

            var model = {

                Id: $("#txtedicaoid"),
                Placa: $("#txtedicaoplaca").val(),
                Ano: $("#txtedicaoano").val(),
                Tipo: $("#txtedicaotipo").val(),
                Modelo: $("#txtedicaomodelo").val(),
                Cor: $("#txtedicaocor").val(),
                Motor: $("#txtedicaomotor").val(),
                Obs: $("#txtedicaocomplemento").val(),
                ClienteId: $("#txtedicaocpf").val()
            }

            $.ajax({
                type: "POST",
                url: "/Veiculo/Editar",
                data: model,
                success: function () {
                },
                error: function (e) {

                }
            });
        }
    </script>
}