@model IEnumerable<Oficina.Com.Models.OrdemServicoViewModel>

@{
    ViewBag.Title = "ConsultarOrdem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultar Ordem de Serviço</h2>

<div class="alert-messages text-center">
</div>
<br />
<a href="" onclick="PreencheCampos()" data-toggle="modal" data-target="#modalcreateordem">
    <span class="mdi mdi-account btn btn-success"> Nova Ordem de Serviço</span>
</a>
<hr />
<div class="col-md-12">

    <table class="table table-striped table-bordered" cellspacing="0" id="tbconsulta" style="width:100%">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Data de Abertura</th>
                <th>Status</th>
                <th>Placa</th>
                <th>Colaborador</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            <!-- Percorrer o conteudo da lista.. -->
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.DataAbertura</td>
                    <td>@item.Status.ToString()</td>
                    <td>@item.Placa</td>
                    <td>@item.ColaboradorId</td>
                    <td>
                        <a href="#" class="mdi mdi-pencil btn btn-success" onclick="PreencheEdit(@item.Id)" style="width:auto" data-toggle="modal" data-target="#modaleditordem">Editar</a>
                        <a href="#" class="mdi mdi-note  btn btn-success" onclick="PreencheDetalhe(@item.Id)" data-toggle="modal" data-target="#modaldetalhesordem">Detalhes</a>
                        <a href="#" class="mdi mdi-delete btn btn-danger" onclick="PreencheIdExclusao(@item.Id)" data-toggle="modal" data-target="#modaldeleteordem"></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>

<!--Modal Create-->
<div class="modal fade" id="modalcreateordem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Cadastro de Ordem de Serviço</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal col-md-12">
                    <div class="row" style="align-self:center">

                        <div class="form-group col-md-3">
                            <label>Orçamento:</label>
                            <input type="text" id="txtorçamento" class="form-control" />
                        </div>

                        <div class="form-group col-md-3">
                            <label>Veículo:</label>
                            <select id="txtveiculo" class="form-control"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Colaborador:</label>
                            <select id="txtcolaborador" class="form-control"></select>
                        </div>
                        <div class="form-group col-md-12" style="">
                            <label>Motivo:</label>
                            <input type="text" id="txtmotivo" class="form-control" />
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success mdi mdi-floppy" style="margin-right:25%; width:50%" onclick="Cadastrar()" id="btncadastro">
                    Cadastrar Ordem de Serviço
                </button>
            </div>
        </div>
    </div>
</div>
<!--Modal edição-->
<div class="modal fade" id="modaleditordem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="edicao">Edição da Ordem de Serviço </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <input type="hidden" id="txtidedicao" class="form-control" />

                    <div class="form-group col-md-4">
                        <label>Placa:</label>
                        <input type="text" id="txteditplaca" class="form-control" />
                    </div>

                    <div class="form-group col-md-3">
                        <label>Data de Abertura:</label>
                        <input type="date" id="txteditdataabertura" class="form-control" />
                    </div>

                    <div class="form-group col-md-4">
                        <label>Orçamento:</label>
                        <input type="text" id="txteditorçamento" class="form-control" />
                    </div>

                    <div class="form-group col-md-4">
                        <label>Status:</label>
                        <select name="txteditstatus" class="form-control">
                            <option value="0">Aberto</option>
                            <option value="1">Aguardando</option>
                            <option value="2">Finalizada</option>
                            <option value="2">Cancelada</option>
                        </select>
                    </div>
                    <div class="form-group col-md-7">
                        <label>Colaborador:</label>
                        <select id="txteditcolaborador" class="form-control"></select>
                    </div>

                    <div class="form-group col-md-11">
                        <label>Observação:</label>
                        <input type="text" id="txteditobservação" class="form-control" />
                    </div>

                    <div class="form-group col-md-11">
                        <label>Motivo:</label>
                        <input type="text" id="txteditmotivo" class="form-control" />
                    </div>

                    <br />
                    <div class="form-group col-md-12">

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success mdi mdi-update" style="margin-right:25%; width:50%" onclick="Editar()" id="btncadastro">
                    Atualizar Ordem de Serviço
                </button>
            </div>
        </div>
    </div>
</div>
<!--Modal detalhe-->
<div class="modal fade" id="modaldetalhesordem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="edicao">Detalhe da Ordem de Serviço</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="txtiddetalhe" class="form-control" readonly />

                    <div class="form-group col-md-4">
                        <label>Placa:</label>
                        <input type="text" id="txtdtplaca" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-3">
                        <label>Data de Abertura:</label>
                        <input type="date" id="txtdtdataabertura" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-4">
                        <label>Orçamento:</label>
                        <input type="text" id="txtdtorçamento" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-4">
                        <label>Status:</label>
                        <input type="text" id="txtdtstatus" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-7">
                        <label>Colaborador:</label>
                        <input type="text" class="form-control" id="txtdtcolaborador" readonly />
                    </div>

                    <div class="form-group col-md-11">
                        <label>Observação:</label>
                        <input type="text" id="txtdtobservação" class="form-control" readonly />
                    </div>

                    <div class="form-group col-md-11">
                        <label>Motivo:</label>
                        <input type="text" id="txtdtmotivo" class="form-control" readonly />
                    </div>

                    <br />
                    <div class="form-group col-md-12">

                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal Delete-->
<div class="modal fade" id="modaldeleteordem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="delete">Deseja realmente excluir este Ordem de Serviço?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control hidde" id="txtid" />
                <p style="color:orangered;text-align:center"> Aviso: Com esta ação os dados da Ordem de Serviço em questão serão excluidos permanentemente!</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger mdi mdi-delete" style="margin-right:25%; width:50%" onclick="Excluir()">Excluir Ordem de Serviço</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tbconsulta").DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                responsive: true,
                "paging": false,
                "language": {
                    "lengthMenu": "",
                    "search": "Procurar",
                    "info": "Mostrando página _PAGE_  de _PAGE_ ",
                    "zeroRecords": "Nenhum registro encontrado !",
                    "infoFiltered": "",
                    "info": "",
                    "infoEmpty": "",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Ultimo",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }
            });

            PreencheColaborador();

            $("#btncadastro").click(function () {

                showAndDismissAlert('danger', 'Erro !!!');

            });
        })
        function Cadastrar() {

            var Ordem = {
                Id: null,
                Motivo: $("#txtmotivo").val(),
                DataAbertura: null,
                Orçamento: $("#txtorçamento").val(),
                Status: 0,
                Placa: $("#txtveiculo").val(),
                Obs: null,
                ColaboradorId: $("#txtcolaborador").val()
            }

            $.ajax({
                type: "POST",
                url: "/Ordem/Cadastrar",
                data: Ordem,
                success: function () {
                    window.location.reload()
                },
                error: function (e) {

                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        }
        function PreencheCampos() {
            PreencheVeiculo();
            PreencheColaborador();
        }
        function PreencheColaborador() {

            $.ajax({
                type: "POST",
                url: "/Colaborador/RetornaColaborador",
                data: null,
                success: function (data) {
                    $("#txtcolaborador option").remove();
                    $("#txtcolaborador option").remove();
                    //$("#txtdtcolaborador option").remove();
                    data.forEach(function (item) {

                        $("#txtcolaborador").append('<option value="' + item[0] + '">' + item[1] + '</option>');
                        $("#txteditcolaborador").append('<option value="' + item[0] + '">' + item[1] + '</option>');
                        //$("#txtdtcolaborador").append('<option value="' + item[0] + '">' + item[1] + '</option>');
                    });
                },
                error: function (e) {

                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        }
        function PreencheVeiculo() {

            $.ajax({
                type: "POST",
                url: "/Veiculo/RetornaListaVeiculo",
                data: null,
                success: function (data) {
                    $("#txtveiculo option").remove();
                    data.forEach(function (item) {
                        $("#txtveiculo").append('<option value="' + item[1] + '">' + item[1] + '</option>');
                    });
                },
                error: function (e) {

                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        }
        function PreencheEdit(id) {
            $.ajax({
                type: "POST",
                url: "/Ordem/Editar",
                data: "id=" + id,
                success: function (model) {

                    $("#txtidedicao").val(model.Id);
                    $("#txteditplaca").val(model.Placa);
                    $("#txteditdataabertura").val(model.DataAbertura);
                    $("#txteditorçamento").val(model.Orcamento);
                    $("#txteditstatus").val(model.Status);
                    $("#txteditcolaborador").val(model.ColaboradorId);
                    $("#txteditobservação").val(model.Obs);
                    $("#txteditmotivo").val(model.Motivo);
                },
                error: function (e) {

                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        }
        function PreencheDetalhe(id) {
            $.ajax({
                type: "POST",
                url: "/Ordem/Detalhe",
                data: "id=" + id,
                success: function (model) {

                    $("#txtiddetalhe").val(model.Id);
                    $("#txtdtplaca").val(model.Placa);
                    $("#txtdtdataabertura").val(model.DataAbertura);
                    $("#txtdtorçamento").val(model.Orcamento);
                    $("#txtdtstatus").val(model.Status);
                    $("#txtdtcolaborador").val(model.NomeColaborador);
                    $("#txtdtobservação").val(model.Obs);
                    $("#txtdtmotivo").val(model.Motivo);
                },
                error: function (e) {

                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        }
        function Editar() {
            var model = {
                Id: $("#txtidedicao").val(),
                Placa: $("#txtplaca").val(),
                DataAbertura: $("#txtdataabertura").val(),//verificar
                Orcamento: $("#txtorçamento").val(),
                Status: $("#txtstatus").val(),
                ColaboradorId: $("#txtcolaborador").val(),
                Obs: $("#txtobservação").val(),
                Motivo: $("#txtmotivo").val(),
            }

            $.ajax({
                type: "POST",
                url: "/Ordem/Edit",
                data: model,
                success: function () {
                    window.location.reload();
                },
                error: function (e) {

                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        }
        function PreencheIdExclusao(id) {
            $("#txtid").val(id)
        }
        function Excluir() {

            var id = $("#txtid").val();
            $.ajax({
                type: "POST",
                url: "/Ordem/Excluir",
                data: "id=" + id,
                success: function () {
                    window.location.reload();
                },
                error: function (e) {

                    $("#mensagem").html("Erro: " + e.status);
                }
            });
        }
    </script>

}
